.nordSpaceSelect {
  width: 312px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  background: #fff;
  padding-left: 13px;
  -webkit-appearance: none;
  appearance: none;
}

.selectChevron {
  position: absolute;
  right: 13px;
  top: 13px;
  /* transform: translateY(-25%); */
}
