.mobileNav {
  height: 80px;
  overflow: hidden;
}

.navExpanded {
  height: fit-content;
}

.navText {
  color: #0c1111;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}
